:root {
  /* Paleta */
  --white: #fff;
  --dark: #2a2f3d;
  --primario: #ffca00;
  --secundario: #ff6732;

  --bg-color: var(--dark);

  /* Fuentes */
  --fuente-titulo: "Montserrat", sans-serif;
  --fuente-alt: "Roboto", sans-serif;
  --fuente-principal: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%; /* Hack para font-size 1rem=10px */
  box-sizing: border-box; /*  Snippet para box sizing */
}

*,
*::before,
*::after {
  box-sizing: inherit; /* Snippet box sizing */
}

/* Globales */
body {
  background-color: var(--bg-color);
  font-family: var(--fuente-principal);
  font-size: 16px; /* Hack para font-size 1rem = 10px */
  font-weight: 300;
  line-height: 1.5;
  color: var(--white);
  margin-bottom: 6rem;
}

p {
  font-size: 1.8rem;
  font-family: var(--fuente-alt);
  color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuente-titulo);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  max-width: 20rem;
  margin: 3rem 0;
}

/* Navegacoin */
.navegacion {
  display: flex;
  justify-content: center;
  background-color: var(--secundario);
  padding: 0.8rem 0;
  gap: 3rem;
}

.navegacion__elemento {
  color: var(--white);
  font-family: var(--fuente-alt);
  font-weight: bold;
  font-size: 2.1rem;
  /* margin-right: 3rem; */
  transition: color 0.3s ease-in-out;
}

/* .navegacion__elemento:last-of-type { */
/*   margin-right: 0; */
/* } */

.navegacion__elemento:hover,
.navegacion__elemento--activo {
  color: var(--primario);
}

@media (max-width: 468px) {
  .navegacion {
    flex-direction: column;
    align-items: center;
    padding: 0.4rem;
  }

  .navegacion__elemento {
    margin: 0.6rem 0;
    font-size: 1.6rem;
  }
}

/* Productos */
.titulo {
  padding: 2rem 0;
}

.titulo__texto {
  color: var(--primario);
  margin-bottom: 3px;
}

.titulo__line {
  width: 15rem;
  height: 3px;
  background-color: var(--secundario);
  margin: 0 auto;
}

@media (max-width: 468px) {
  .titulo__texto {
    font-size: 2.5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-top: 2.4rem;
  /* margin-bottom: 6rem; */
}

@media (max-width: 468px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.producto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secundario);
  padding: 2rem 1rem;
  margin: 0 auto;
  border-radius: 1rem;
}

.producto__imagen {
  width: 100%;
  border-radius: 4rem;
  transition: box-shadow .3s ease-out;
}

.producto__imagen:hover {
  box-shadow: 0px 1px 15px 0px rgba(42,47,61,0.60);
}

.producto__info {
  text-align: center;
}

.producto__nombre {
  font-family: var(--fuente-alt);
  font-size: 2.2rem;
}

.producto__precio {
  font-size: 2rem;
  color: var(--secundario);
  padding: 1.2rem 0;
  background-color: var(--white);
  border-radius: 2rem;
  transition: color .3s ease-in-out;
  border: 2.5px solid var(--white);
}

.producto__precio:hover {
  background-color: var(--secundario);
  /* border: 1px solid var(--white); */
  color: var(--white);
}

.producto__nombre,
.producto__precio {
  margin: 1rem 0;
  font-weight: bold;
  line-height: 1.2;
}

@media ( min-width: 1280px ) {
  .producto__nombre {
    font-size: 2.7rem;
  }

  .producto__precio {
    font-size: 2.3rem;;
  }
}

/* Graficos */
.grafico {
  min-height: 30rem;
}

.grafico--camisas {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  background-image: url(../img/grafico1.jpg);
}

.grafico--node {
  grid-row: 5 / 6;
  grid-column: 2 / 4;
  background-image: url(../img/grafico2.jpg);
}

.grafico--camisas,
.grafico--node {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
}

@media (max-width: 468px) {
  .grafico--node {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
  }
}

/* Footer */
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: var(--secundario);
}

.footer__info {
  font-family: var(--fuente-titulo);
  font-size: 1.5rem;
}

@media (max-width: 468px) {
  .footer__info {
    font-size: 1.4rem;
  }
}
